<?xml version="1.0"?>
<model>
  <name>Lander</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>GNC Lab</name>
    <email>ae23s022@smail.iitm.ac.in</email>
  </author>
  <description>
    Mars lander with IMU, altimeter, monocular camera.
    Initial condition: Case 3 — r=[900,800,2200]m, v=[15,25,-80]m/s
  </description>
</model>
